/node_modules
/public/hot
/public/storage
/public/js/ckfinder
/public/js/admin/ckeditor
/storage/*.key
/storage/app
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
